.cproject
.project
.pydevproject
.sconsign.dblite

*.pyc
*.suo

.settings/
.localhistory/
Dbg/
Opt/

*/Temp/
*/TestResults/

*/.svn/
.svn/
bin/
Bin/
obj/
_ReSharper.CSharp/
*.opensdf
*.sdf
/CSharp/CSharp.sln.ide
Library
CSharp60Support/compilation log.txt
/CSharp/CSharp.VC.opendb
/Server/Server.VC.opendb
/Log
/Temp
/Logs
CSharp60Support/compilation.log
/.vs
/Server/.vs/
.vs/
/Tools/MongoDB
/Excel/md5.txt
/Release
.idea/
Logs
Assets/StreamingAssets/
Assets/StreamingAssets.meta
.DS_Store
Server/.DS_Store
/Server/.vscode/
.vs/
.objs/
.gradle
/*.user
Unity.Editor.csproj
Assembly-CSharp.csproj
~$*.xlsx
~$*.xlsx.meta
/.vscode
UserSettings/Search.settings
Unity.Hotfix.csproj
Unity.HotfixView.csproj
Unity.Model.csproj
Unity.ModelView.csproj

ProjectSettings/RiderScriptEditorPersistedState.asset
Unity.Core.csproj
UserSettings
Unity.Codes.csproj
Unity.Loader.csproj
Unity.Ignore.csproj
Publish/
Assets/Bundles/Code/*
Unity.GenerateClient.csproj
Unity.GenerateServer.csproj

Assets/Bundles/AotDlls/*
HybridCLRData
Assembly-CSharp-firstpass.csproj

*.csproj
*.vsconfig
WebGL
Bundles